01-Trend Timbers - Excel Upload Handler.json
{
  "name": "01-Trend Timbers - Excel Upload Handler",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "1ab34010-47ac-4006-948b-ced4f7e5e774",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "8a991df2-fe01-43fd-a906-4b1411d7a7fd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -304
      ],
      "webhookId": "1ab34010-47ac-4006-948b-ced4f7e5e774",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q1g8x0uAR0rJOPnh",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Success! Your quote will be emailed to you shortly\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2591f24-f6ac-44e5-a94d-00d93be6cb25",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2912,
        -208
      ]
    },
    {
      "parameters": {
        "sendTo": "trendtimbers@gmail.com",
        "subject": "=={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data,pickingSlip"
              }
            ]
          }
        }
      },
      "id": "ce72782b-0255-412e-b030-0f4da76e4283",
      "name": "Send Quote Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2464,
        -208
      ],
      "webhookId": "15c0701f-fe8f-4827-9d08-1d1ccca9ac62",
      "credentials": {
        "gmailOAuth2": {
          "id": "9BtGWsOE6QgzT80a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original file data from the webhook\nconst items = $input.all();\nconst item = items[0];\nconst body = item.json.body;\nconst originalFile = body?.originalFile;\n\n// If there's a file, convert it to binary\nif (originalFile && originalFile.data) {\n  // Convert base64 to Buffer - THIS IS THE KEY!\n  const buffer = Buffer.from(originalFile.data, 'base64');\n  \n  return [{\n    json: body,\n    binary: {\n      data: {\n        data: buffer,  // Now it's a Buffer, not base64 string\n        mimeType: originalFile.mimetype,\n        fileName: originalFile.filename,\n        fileExtension: originalFile.filename.split('.').pop()\n      }\n    }\n  }];\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -304
      ],
      "id": "11bb8ede-2718-415a-a30b-eb1f568a2409",
      "name": "Convert Base64 to Binary"
    },
    {
      "parameters": {
        "jsCode": "// Get the data\nconst webhookData = $input.item.json;\nconst data = webhookData.body || webhookData;\n\n// Safety checks with defaults\nconst studentInfo = data.studentInfo || {};\nconst components = Array.isArray(data.components) ? data.components : [];\nconst totals = data.totals || { subtotal: '0.00', gst: '0.00', total: '0.00' };\nconst deliveryOption = data.deliveryOption || 'pickup';\nconst customerNotes = data.customerNotes || '';\n\n// If no components, return error\nif (components.length === 0) {\n  return [{\n    json: {\n      to: 'trendtimbers@gmail.com',\n      subject: 'Quote Submission Error - No Components',\n      html: '<p>Error: No components received in the quote submission.</p>'\n    }\n  }];\n}\n\n// Build HTML table rows for EMAIL with LETTER numbering\nlet tableRows = '';\ncomponents.forEach((comp, index) => {\n  const letter = String.fromCharCode(65 + index);\n  const hasError = comp.calculated && comp.calculated.error;\n  \n  if (hasError) {\n    tableRows += '<tr style=\"background: #fee;\"><td style=\"border: 1px solid #ddd; padding: 8px;\"><strong>' + letter + '</strong></td><td colspan=\"8\" style=\"border: 1px solid #ddd; padding: 8px; color: #d00;\"><strong>ERROR:</strong> ' + (comp.calculated.lengthError || 'Calculation error') + '</td></tr>';\n  } else {\n    tableRows += '<tr><td style=\"border: 1px solid #ddd; padding: 8px;\"><strong>' + letter + '</strong></td><td style=\"border: 1px solid #ddd; padding: 8px;\"><strong>' + (comp.species || 'Unknown') + '</strong></td><td style=\"border: 1px solid #ddd; padding: 8px;\">' + (comp.thickness || 0) + 'mm</td><td style=\"border: 1px solid #ddd; padding: 8px;\">' + (comp.width || 0) + 'mm → ' + (comp.stockWidth || 0) + 'mm</td><td style=\"border: 1px solid #ddd; padding: 8px;\">' + (comp.length || 0) + 'mm</td><td style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\">' + (comp.quantity || 0) + '</td><td style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\"><strong>' + (comp.totalStockPieces || 0) + '</strong></td><td style=\"border: 1px solid #ddd; padding: 8px;\">' + (comp.linearMetersWithWaste || 0) + 'LM</td><td style=\"border: 1px solid #ddd; padding: 8px; text-align: right;\"><strong>$' + (comp.subtotal || '0.00') + '</strong></td></tr>';\n    tableRows += '<tr><td colspan=\"9\" style=\"border: 1px solid #ddd; padding: 8px; background: #f9f9f9; font-size: 12px; color: #666;\">' + (comp.nestingNote || 'No nesting info') + ' • waste allowance</td></tr>';\n  }\n});\n\n// Delivery badge HTML\nconst deliveryBadge = deliveryOption === 'pickup' \n  ? '<span style=\"background: #d4edda; color: #155724; padding: 6px 12px; border-radius: 15px; font-weight: bold;\">Pickup from Store</span>'\n  : '<span style=\"background: #fff3cd; color: #856404; padding: 6px 12px; border-radius: 15px; font-weight: bold;\">Delivery Required</span>';\n\n// Build delivery row\nconst deliveryRow = deliveryOption === 'delivery' \n  ? '<tr class=\"delivery-row\"><td><strong>Delivery:</strong></td><td style=\"text-align: right; color: #000;\"><strong>&nbsp;</strong></td></tr>' \n  : '<tr class=\"pickup-row\"><td><strong>Pickup:</strong></td><td style=\"text-align: right; color: #000;\"><strong>No charge</strong></td></tr>';\n\nconst deliveryNote = deliveryOption === 'delivery' \n  ? '<p style=\"font-size: 12px; margin-top: 10px; opacity: 0.9;\"></p>'\n  : '<p style=\"font-size: 12px; margin-top: 10px; opacity: 0.9;\">* Customer will collect from store</p>';\n\n// EMAIL HTML\nconst emailHTML = '<!DOCTYPE html><html><head><style>body { font-family: Arial, sans-serif; }.header { background: #c5aa7f; color: white; padding: 20px; display: flex; align-items: center; gap: 20px; }.header img { height: 200px; }.header h1 { margin: 0; font-size: 36px; }.content { padding: 20px; }table { border-collapse: collapse; width: 100%; margin: 20px 0; }th { background: #055902; color: white; padding: 10px; border: 1px solid #ddd; }.summary { background: #f0f8f0; padding: 15px; border-radius: 5px; margin: 20px 0; }.totals { background: #055902; color: white; padding: 15px; border-radius: 5px; margin: 20px 0; }.totals-table { width: 350px; margin-left: auto; }.totals-table td { padding: 8px; }.delivery-row { background: #e8f5e8; color: #000; }.pickup-row { background: #e8f5e8; color: #000; }.total-row { border-top: 2px solid white; font-size: 20px; }</style></head><body><div class=\"header\"><img src=\"https://trendtimbers.com.au/wp-content/uploads/2025/08/Trend-Timbers-Logo2.png\" alt=\"Trend Timbers\"><h1>Trend Timbers Quote</h1></div><div class=\"content\"><div class=\"summary\"><h2>Student Information</h2><p><strong>Name:</strong> ' + (studentInfo.name || 'Not provided') + '</p><p><strong>Email:</strong> ' + (studentInfo.email || 'Not provided') + '</p><p><strong>Mobile:</strong> ' + (studentInfo.mobile || 'Not provided') + '</p><p><strong>School:</strong> ' + (studentInfo.school || 'Not provided') + '</p><p><strong>Teacher:</strong> ' + (studentInfo.teacher || 'Not provided') + '</p><p><strong>Collection Method:</strong> ' + deliveryBadge + '</p></div><h2>Quote Details</h2><table><thead><tr><th>#</th><th>Species</th><th>Thick</th><th>Width</th><th>Length</th><th>Qty</th><th>Total Pieces</th><th>Lin Meters</th><th>Price</th></tr></thead><tbody>' + tableRows + '</tbody></table><div class=\"totals\"><table class=\"totals-table\"><tr><td><strong>Subtotal:</strong></td><td style=\"text-align: right;\"><strong>$' + totals.subtotal + '</strong></td></tr><tr><td><strong>GST (10%):</strong></td><td style=\"text-align: right;\"><strong>$' + totals.gst + '</strong></td></tr>' + deliveryRow + '<tr class=\"total-row\"><td><strong>TOTAL:</strong></td><td style=\"text-align: right;\"><strong>$' + totals.total + '</strong></td></tr></table>' + deliveryNote + '</div><div style=\"background: #fff3cd; padding: 15px; border-radius: 5px; border-left: 4px solid #856404; margin-top: 20px;\"><p style=\"margin: 0; color: #856404;\"><strong>Next Steps:</strong><br>1. Review the quote details above<br>2. If you\\'re happy with the quote, call us on <strong>(02) 4577 5277</strong> to arrange payment<br>3. Your order enters our milling queue once payment is received</p></div><div style=\"text-align: center; padding: 20px; background: linear-gradient(to right, #e8f4f3, #f0f8f0); border: 2px solid #055902; border-radius: 8px; margin: 20px 0;\"><strong>📎 See attached cutting list for detailed warehouse instructions with component ID letters.</strong></div></div></body></html>';\n\n// PICKING SLIP HTML - Build table rows\nlet pickingSlipRows = '';\nconst letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';\nlet letterIndex = 0;\n\ncomponents.forEach((comp, index) => {\n  const letter = letters[letterIndex % 26];\n  letterIndex++;\n  \n  pickingSlipRows += '<tr><td class=\"letter-col\">' + letter + '</td><td class=\"component-name\">' + (comp.name || 'Component ' + (index + 1)) + '</td><td>' + comp.species + '</td><td style=\"font-weight: bold;\">' + comp.thickness + '</td><td style=\"font-weight: bold;\">' + (comp.width || comp.finishedWidth) + '</td><td class=\"highlight-yellow\">' + comp.stockWidth + '</td><td class=\"highlight-yellow\">' + comp.piecesPerStockBoard + '</td><td style=\"color: #919386;\">' + (comp.widthWaste || 0) + '</td><td style=\"font-weight: bold;\">' + comp.length + '</td><td style=\"font-weight: bold;\">' + comp.quantity + '</td><td class=\"highlight-green\">' + comp.totalStockPieces + '</td></tr>';\n});\n\nconst pickingSlipHTML = '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>Cutting List - ' + studentInfo.name + '</title><style>@media print { @page { size: landscape; margin: 15mm; } body { margin: 0; }}body { font-family: Arial, sans-serif; padding: 20px; max-width: 1200px; margin: 0 auto; background: #f5f5f5;}.header-container { display: flex; align-items: center; gap: 20px; padding: 20px 0; border-bottom: 4px solid #c5aa7f; margin-bottom: 20px;}.header-container img { height: 80px; width: auto;}.header { color: #055902; margin: 0; font-size: 32px;}.info-box { background: white; padding: 20px; margin: 20px 0; border-left: 5px solid #055902; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);}table { width: 100%; border-collapse: collapse; margin: 20px 0; font-size: 13px; background: white; box-shadow: 0 2px 5px rgba(0,0,0,0.1);}th { background: linear-gradient(135deg, #055902 0%, #412e28 100%); color: white; border: 1px solid #412e28; padding: 12px 8px; text-align: center; font-weight: bold;}td { border: 1px solid #ddd; padding: 10px 8px; text-align: center; vertical-align: middle; background: white;}.letter-col { font-weight: bold; font-size: 18px; background: linear-gradient(to bottom, #e8f4f3, #f0f8f0); color: #055902;}.component-name { text-align: left; font-weight: bold; color: #412e28;}.highlight-yellow { background: linear-gradient(to bottom, #fff9f0, #fffbf5); font-weight: bold; color: #412e28; border-left: 3px solid #c5aa7f; border-right: 3px solid #c5aa7f;}.highlight-green { background: linear-gradient(to bottom, #e8f4f3, #f0f8f0); font-weight: bold; font-size: 16px; color: #055902; border: 2px solid #055902;}.footer { text-align: center; color: #919386; font-size: 12px; margin-top: 30px; padding-top: 20px; border-top: 2px solid #c5aa7f;}.footer strong { color: #055902;}</style></head><body><div class=\"header-container\"><img src=\"https://trendtimbers.com.au/wp-content/uploads/2025/09/Trend-Timbers-Logo-recreation.png\" alt=\"Trend Timbers\"><h1 class=\"header\">🪵 TREND TIMBERS - CUTTING LIST</h1></div><div class=\"info-box\"><strong style=\"color: #055902;\">Student:</strong> ' + studentInfo.name + ' (' + studentInfo.school + ')<br><strong style=\"color: #055902;\">Teacher:</strong> ' + studentInfo.teacher + '<br><strong style=\"color: #055902;\">Delivery:</strong> ' + (deliveryOption === 'pickup' ? 'PICKUP' : 'DELIVERY') + '<br><strong style=\"color: #055902;\">Quote Total:</strong> <span style=\"font-size: 18px; color: #055902;\">$' + totals.total + '</span></div><table><thead><tr><th style=\"width: 5%;\">ID</th><th style=\"width: 13%;\">Component</th><th style=\"width: 11%;\">Species</th><th style=\"width: 6%;\">Thick<br>(mm)</th><th style=\"width: 8%;\">Finished<br>Width<br>(mm)</th><th style=\"width: 8%;\">Stock<br>Width<br>(mm)</th><th style=\"width: 8%;\">Pcs per<br>Board</th><th style=\"width: 8%;\">Width<br>Waste<br>(mm)</th><th style=\"width: 8%;\">Length<br>(mm)</th><th style=\"width: 6%;\">Qty</th><th style=\"width: 8%;\">Stock<br>Pieces</th></tr></thead><tbody>' + pickingSlipRows + '</tbody></table><div class=\"footer\"><strong>Generated:</strong> ' + new Date().toLocaleString('en-AU', { timeZone: 'Australia/Sydney' }) + '<br><strong>Reference:</strong> ' + studentInfo.name + ' - ' + studentInfo.school + '<br>This document is formatted for landscape printing on A4 paper<br><strong>Mark each piece with its ID letter (A, B, C...) for customer identification</strong></div></body></html>';\n\n// NEW - Add original data for storage\nreturn [{\n  json: {\n    // Email fields (keep existing)\n    to: 'trendtimbers@gmail.com',\n    subject: 'Quote: ' + (studentInfo.name || 'Student') + ' - $' + totals.total,\n    html: emailHTML,\n    pickingSlipHTML: pickingSlipHTML,\n    studentName: studentInfo.name || 'Student',\n    \n    // ✅ ADD THESE - Pass through original data for Google Sheets\n    studentInfo: studentInfo,\n    components: components,\n    totals: totals,\n    deliveryOption: deliveryOption,\n    customerNotes: customerNotes\n  },\n  binary: {\n    data: $input.item.binary?.data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -208
      ],
      "id": "8c35c7c4-9024-4284-96a3-023b10dcc4f1",
      "name": "Generate Email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Generate Email').item.json.pickingSlipHTML }}"
            },
            {
              "name": "landscape",
              "value": "true"
            },
            {
              "name": "format",
              "value": "A4"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pickingSlip"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        -208
      ],
      "id": "b3033c36-83be-4c2f-bf25-bf3d15803724",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "tCd3Xflod5I2u1tG",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0];\n\n// Get the TT-0001 quote number from earlier node\nconst quoteNumber = $('Generate Quote Number').item.json.quoteNumber;\n\n// ✅ GET THE GOOGLE DRIVE LINK FROM UPLOAD FILE NODE\nlet googleDriveLink = '';\ntry {\n    const uploadResult = $('Upload file').first().json;\n    googleDriveLink = uploadResult.webViewLink || uploadResult.webContentLink || '';\n    console.log('✅ Google Drive Link:', googleDriveLink);\n} catch (e) {\n    console.log('⚠️ Could not get Google Drive link:', e.message);\n}\n\n// THE CUSTOMER NOTES ARE IN body.customerNotes!\nconst data = item.json.body || item.json;\n\n// Your n8n webhook URL - now uses TT-0001 format\nconst baseUrl = 'https://ttimbers.app.n8n.cloud';\nconst approvalLink = `${baseUrl}/webhook/approve-quote?id=${quoteNumber}`;\n\n// Access the data - IT'S IN THE BODY!\nconst studentInfo = data.studentInfo || {};\nconst components = data.components || [];\nconst totals = data.totals || {};\nconst deliveryOption = data.deliveryOption || 'pickup';\n\n// ✅ GET THE CUSTOMER NOTES\nconst customerNotes = data.customerNotes || '';\nconsole.log('✅ CUSTOMER NOTES FOUND:', customerNotes);\n\n// Prepare data for Google Sheets storage\nreturn [{\n  json: {\n    // Google Sheets data - ALL COLUMNS\n    QuoteID: quoteNumber,\n    Timestamp: new Date().toLocaleString('en-AU', { timeZone: 'Australia/Sydney' }),\n    StudentName: studentInfo.name || '',\n    StudentEmail: studentInfo.email || '',\n    StudentMobile: studentInfo.mobile || '',\n    School: studentInfo.school || '',\n    Teacher: studentInfo.teacher || '',\n    DeliveryOption: deliveryOption,\n    ComponentsJSON: JSON.stringify(components),\n    TotalsJSON: JSON.stringify(totals),\n    EmailHTML: data.html || '',\n    PickingSlipHTML: data.pickingSlipHTML || '',\n    Status: 'PENDING',\n    DeliveryCost: 0,\n    \n    // ✅ SAVE THE NOTES\n    Notes: customerNotes,\n    \n    // ✅ FIXED: Google Drive link from Upload file node\n    OriginalFile: googleDriveLink,\n    \n    SentDate: '',\n    \n    // ✅ Approval link\n    approvalLink: approvalLink,\n    \n    // Pass through for email and other nodes\n    quoteId: quoteNumber,\n    quoteNumber: quoteNumber,\n    studentInfo: studentInfo,\n    components: components,\n    totals: totals,\n    deliveryOption: deliveryOption,\n    customerNotes: customerNotes,\n    originalFile: googleDriveLink,\n    to: 'trendtimbers@gmail.com',\n    subject: data.subject || `Quote: ${studentInfo.name || 'Student'} - $${totals.total || '0.00'}`,\n    html: data.html || '',\n    pickingSlipHTML: data.pickingSlipHTML || '',\n    studentName: studentInfo.name || ''\n  },\n  binary: $input.item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -208
      ],
      "id": "928443d3-dfed-434f-a96d-4186fac07cf3",
      "name": "Prepare Quote for Storage"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA",
          "mode": "list",
          "cachedResultName": "Quote Approvals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "QuoteID": "{{ $json.QuoteID }}",
            "Timestamp": "{{ $json.Timestamp }}",
            "StudentName": "{{ $json.StudentName }}",
            "StudentEmail": "{{ $json.StudentEmail }}",
            "StudentMobile": "{{ $json.StudentMobile }}",
            "School": "{{ $json.School }}",
            "Teacher": "{{ $json.Teacher }}",
            "DeliveryOption": "{{ $json.DeliveryOption }}",
            "ComponentsJSON": "{{ $json.ComponentsJSON }}",
            "TotalsJSON": "{{ $json.TotalsJSON }}",
            "EmailHTML": "{{ $json.EmailHTML }}",
            "PickingSlipHTML": "{{ $json.PickingSlipHTML }}",
            "Status": "{{ $json.Status }}",
            "DeliveryCost": "{{ $json.DeliveryCost }}",
            "Notes": "{{ $json.Notes }}",
            "SentDate": "{{ $json.SentDate }}"
          },
          "matchingColumns": [
            "QuoteID"
          ],
          "schema": [
            {
              "id": "QuoteID",
              "displayName": "QuoteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "StudentName",
              "displayName": "StudentName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "StudentEmail",
              "displayName": "StudentEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "StudentMobile",
              "displayName": "StudentMobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "School",
              "displayName": "School",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher",
              "displayName": "Teacher",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DeliveryOption",
              "displayName": "DeliveryOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ComponentsJSON",
              "displayName": "ComponentsJSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TotalsJSON",
              "displayName": "TotalsJSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EmailHTML",
              "displayName": "EmailHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PickingSlipHTML",
              "displayName": "PickingSlipHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DeliveryCost",
              "displayName": "DeliveryCost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SentDate",
              "displayName": "SentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approvalLink",
              "displayName": "approvalLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quoteId",
              "displayName": "quoteId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "studentInfo",
              "displayName": "studentInfo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "components",
              "displayName": "components",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totals",
              "displayName": "totals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "deliveryOption",
              "displayName": "deliveryOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "html",
              "displayName": "html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pickingSlipHTML",
              "displayName": "pickingSlipHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "studentName",
              "displayName": "studentName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        -208
      ],
      "id": "0e9fe1e9-af28-4fa9-80b1-bba2869d08d4",
      "name": "Store Quote in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TeHCKMqPMDM8G6HR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst studentInfo = data.studentInfo || {};\nconst totals = data.totals || {};\nconst deliveryOption = data.deliveryOption || 'pickup';\nconst customerNotes = data.customerNotes || '';\nconst quoteNumber = data.quoteNumber || data.quoteId || data.QuoteID || '';\n\n// Build component summary for email\nlet componentSummary = '';\nif (data.components && Array.isArray(data.components)) {\n  componentSummary = data.components.map((comp, index) => {\n    const letter = String.fromCharCode(65 + index);\n    return `${letter}. ${comp.species} - ${comp.thickness}x${comp.width}x${comp.length}mm (Qty: ${comp.quantity}) - $${comp.subtotal || '0.00'}`;\n  }).join('<br>');\n}\n\n// Build approval email HTML\nconst approvalEmailHTML = `<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody { font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px; margin: 0; }\n.container { max-width: 800px; margin: 0 auto; background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.1); }\n.header { background: linear-gradient(135deg, #055902 0%, #412e28 100%); color: white; padding: 30px 20px; text-align: center; }\n.header h1 { margin: 0; font-size: 28px; }\n.header p { margin: 10px 0 0 0; opacity: 0.9; }\n.quote-number { font-size: 32px; font-weight: bold; margin: 15px 0 5px 0; letter-spacing: 2px; }\n.alert-box { background: #fff3cd; border-left: 5px solid #ff9800; padding: 20px; margin: 20px; }\n.alert-box strong { color: #856404; }\n.content { padding: 30px; }\n.info-section { background: #f9f9f9; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #055902; }\n.info-section h3 { margin-top: 0; color: #055902; }\n.notes-section { background: #fff3cd; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #ff9800; }\n.notes-section h3 { margin-top: 0; color: #856404; }\n.components { background: #f0f8f0; padding: 15px; border-radius: 5px; margin: 20px 0; font-size: 14px; line-height: 1.8; }\n.totals-box { background: linear-gradient(135deg, #e8f5e8, #f0f8f0); padding: 20px; border-radius: 8px; margin: 20px 0; border: 2px solid #055902; }\n.totals-box p { margin: 8px 0; font-size: 16px; }\n.totals-box .total { font-size: 24px; font-weight: bold; color: #055902; margin-top: 15px; padding-top: 15px; border-top: 2px solid #055902; }\n.approve-btn { display: inline-block; background: #28a745; color: white; padding: 18px 40px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 20px; margin: 30px 0; box-shadow: 0 4px 10px rgba(40,167,69,0.3); transition: all 0.3s; }\n.approve-btn:hover { background: #218838; transform: translateY(-2px); box-shadow: 0 6px 15px rgba(40,167,69,0.4); }\n.btn-container { text-align: center; padding: 20px; }\n.warning { background: #f8d7da; border-left: 5px solid #dc3545; padding: 15px; margin: 20px 0; border-radius: 5px; }\n.warning p { margin: 0; color: #721c24; font-weight: bold; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <div class=\"header\">\n    <h1>QUOTE APPROVAL REQUIRED</h1>\n    <div class=\"quote-number\">${quoteNumber}</div>\n    <p>${studentInfo.name || 'Unknown'} - ${studentInfo.school || 'Unknown School'}</p>\n  </div>\n  \n  <div class=\"alert-box\">\n    <strong>ACTION REQUIRED:</strong> Review this quote and send it to the customer\n  </div>\n  \n  <div class=\"content\">\n    <div class=\"info-section\">\n      <h3>Student Information</h3>\n      <p><strong>Name:</strong> ${studentInfo.name || 'Not provided'}</p>\n      <p><strong>Email:</strong> ${studentInfo.email || 'Not provided'}</p>\n      <p><strong>Mobile:</strong> ${studentInfo.mobile || 'Not provided'}</p>\n      <p><strong>School:</strong> ${studentInfo.school || 'Not provided'}</p>\n      <p><strong>Teacher:</strong> ${studentInfo.teacher || 'Not provided'}</p>\n      <p><strong>Delivery Method:</strong> ${deliveryOption === 'pickup' ? '📦 PICKUP from Store' : '🚚 DELIVERY Required'}</p>\n    </div>\n    \n    ${customerNotes ? `\n    <div class=\"notes-section\">\n      <h3>📝 Customer Notes</h3>\n      <p style=\"color: #666; margin: 0; white-space: pre-wrap;\">${customerNotes}</p>\n    </div>\n    ` : ''}\n    \n    <h3>Components Summary</h3>\n    <div class=\"components\">\n      ${componentSummary || 'No components found'}\n    </div>\n    \n    <div class=\"totals-box\">\n      <h3 style=\"margin-top: 0; color: #055902;\">Current Quote Totals</h3>\n      <p><strong>Subtotal:</strong> $${totals.subtotal || '0.00'}</p>\n      <p><strong>GST (10%):</strong> $${totals.gst || '0.00'}</p>\n      <p><strong>Delivery:</strong> ${deliveryOption === 'pickup' ? 'No charge (Pickup)' : '<span style=\"color: #dc3545;\">TO BE ADDED BY YOU</span>'}</p>\n      <p class=\"total\">TOTAL: $${totals.total || '0.00'}</p>\n    </div>\n    \n    <div class=\"btn-container\">\n      <a href=\"${data.approvalLink}\" class=\"approve-btn\">\n        📋 REVIEW & SEND TO CUSTOMER\n      </a>\n      <p style=\"color: #666; font-size: 14px; margin-top: 15px;\">\n        Click above to edit delivery cost and approve this quote\n      </p>\n    </div>\n    \n    <div class=\"warning\">\n      <p>⚠️ IMPORTANT: The customer has NOT received their quote yet!</p>\n      <p style=\"margin-top: 5px;\">You must approve and send it using the button above.</p>\n    </div>\n    \n    <div style=\"background: #e3f2fd; padding: 15px; border-radius: 5px; margin-top: 20px; font-size: 13px; color: #1565c0;\">\n      <strong>Received:</strong> ${data.Timestamp}\n    </div>\n  </div>\n</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    to: 'trendtimbers@gmail.com',\n    subject: `APPROVE QUOTE ${quoteNumber}: ${studentInfo.name} - ${studentInfo.school}`,\n    html: approvalEmailHTML\n  },\n  binary: $input.item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -208
      ],
      "id": "107c6f38-69ee-4049-8f97-cdfc60d1258d",
      "name": "Build Approval Email"
    },
    {
      "parameters": {
        "jsCode": "// Get the current item (from Google Sheets)\nconst currentItem = items[0];\n\n// Get the PDF binary data from HTTP Request node\nconst httpRequestItem = $('HTTP Request').item;\nconst pdfBinary = httpRequestItem.binary;\n\n// Merge them together\nreturn [{\n  json: currentItem.json,\n  binary: pdfBinary  // ← Restore the PDF here!\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -208
      ],
      "id": "a886d05b-30d0-4b50-91d2-f97b0e5035f8",
      "name": "Restore PDF Binary"
    },
    {
      "parameters": {
        "jsCode": "// ADD THIS AS A CODE NODE RIGHT AFTER YOUR WEBHOOK\n// This will show you EXACTLY what data is being received\n\nconst items = $input.all();\nconst data = items[0].json;\n\nconsole.log(\"=== COMPLETE DATA RECEIVED FROM FORM ===\");\nconsole.log(JSON.stringify(data, null, 2));\n\nconsole.log(\"\\n=== SEARCHING FOR CUSTOMER NOTES ===\");\n\n// Check every possible field for notes\nconst fieldsToCheck = [\n  'customerNotes',\n  'CustomerNotes', \n  'notes',\n  'Notes',\n  'customer_notes',\n  'additionalNotes',\n  'message',\n  'comments'\n];\n\nlet notesFound = false;\nfieldsToCheck.forEach(field => {\n  if (data[field]) {\n    console.log(`✅ FOUND NOTES in field '${field}': \"${data[field]}\"`);\n    notesFound = true;\n  }\n});\n\nif (!notesFound) {\n  console.log(\"❌ NO NOTES FOUND IN ANY FIELD!\");\n  console.log(\"\\n=== ALL FIELDS IN DATA ===\");\n  console.log(\"Fields present:\", Object.keys(data));\n}\n\n// Check if notes might be nested inside studentInfo or elsewhere\nif (data.studentInfo && data.studentInfo.notes) {\n  console.log(\"✅ FOUND in studentInfo.notes:\", data.studentInfo.notes);\n}\n\n// Return everything so we can see it\nreturn [{\n  json: {\n    ...data,\n    DEBUG_NOTES_FOUND: notesFound,\n    DEBUG_NOTES_CONTENT: data.customerNotes || data.CustomerNotes || data.notes || \"NOT FOUND\",\n    DEBUG_ALL_FIELDS: Object.keys(data).join(', ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -304
      ],
      "id": "cc9fd530-2ce4-4623-91da-915d6793a414",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aQBGxT6GXUdS3HnbWUp3VxRl8_l4eQMSYOVAKAdz4Ko",
          "mode": "list",
          "cachedResultName": "Settings Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQBGxT6GXUdS3HnbWUp3VxRl8_l4eQMSYOVAKAdz4Ko/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQBGxT6GXUdS3HnbWUp3VxRl8_l4eQMSYOVAKAdz4Ko/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -304
      ],
      "id": "6cab67ab-d7f7-4b97-9f55-6cfbef854ee4",
      "name": "Get Last Number",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TeHCKMqPMDM8G6HR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst previousData = $('Code in JavaScript').item.json;\n\n// Get last number from Settings sheet\nlet lastNumber = 0;\nfor (const item of items) {\n  if (item.json.Key === 'LastQuoteNumber') {\n    lastNumber = parseInt(item.json.Value) || 0;\n  }\n}\n\nconst newNumber = lastNumber + 1;\nconst quoteNumber = 'TT-' + String(newNumber).padStart(4, '0');\n\nreturn [{\n  json: {\n    ...previousData,\n    quoteNumber: quoteNumber,\n    rawQuoteNumber: newNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -304
      ],
      "id": "51cae5b2-0cae-4567-b3e4-f864c504f86d",
      "name": "Generate Quote Number"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aQBGxT6GXUdS3HnbWUp3VxRl8_l4eQMSYOVAKAdz4Ko",
          "mode": "list",
          "cachedResultName": "Settings Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQBGxT6GXUdS3HnbWUp3VxRl8_l4eQMSYOVAKAdz4Ko/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQBGxT6GXUdS3HnbWUp3VxRl8_l4eQMSYOVAKAdz4Ko/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Key": "LastQuoteNumber",
            "Value": "={{ $('Generate Quote Number').item.json.rawQuoteNumber }}"
          },
          "matchingColumns": [
            "Key"
          ],
          "schema": [
            {
              "id": "Key",
              "displayName": "Key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Value",
              "displayName": "Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        -208
      ],
      "id": "fb4f5f86-be65-415d-a8c7-859199d6709d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TeHCKMqPMDM8G6HR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "=={{ $('Generate Quote Number').item.json.quoteNumber }}-{{ $json.studentInfo.name || 'cutting-list' }}.xlsx",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1MEXKsw0TT240qel0wCHMBrWX4yRaSdcz",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        -400
      ],
      "id": "45fe7390-bfa2-47ac-bd15-a3df43e414ed",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5DmFYcQ7PHHT8Rpv",
          "name": "Google Drive account 4"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Quote Email": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "Generate Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Prepare Quote for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Quote for Storage": {
      "main": [
        [
          {
            "node": "Store Quote in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Quote in Sheet": {
      "main": [
        [
          {
            "node": "Restore PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Email": {
      "main": [
        [
          {
            "node": "Send Quote Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore PDF Binary": {
      "main": [
        [
          {
            "node": "Build Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get Last Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Number": {
      "main": [
        [
          {
            "node": "Generate Quote Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Quote Number": {
      "main": [
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ttimbers.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "21934",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "202.172.96.187",
            "cf-ew-via": "15",
            "cf-ipcountry": "AU",
            "cf-ray": "9a55236380cfe7f1-SYD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://trendtimbers.com.au",
            "priority": "u=1, i",
            "referer": "https://trendtimbers.com.au/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "202.172.96.187, 162.158.168.137",
            "x-forwarded-host": "ttimbers.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-84-57fcbd49bc-vc9qc",
            "x-is-trusted": "yes",
            "x-real-ip": "202.172.96.187"
          },
          "params": {},
          "query": {},
          "body": {
            "studentInfo": {
              "name": "matt southwell",
              "email": "m.southwell@live.com",
              "mobile": "0432312094",
              "school": "castle hill high school",
              "teacher": "mr clark"
            },
            "deliveryOption": "pickup",
            "customerNotes": "TESTING THIS BETTER WORK",
            "components": [
              {
                "species": "NSW Spotted Gum",
                "thickness": 32,
                "width": 185,
                "length": 600,
                "quantity": 1,
                "roundedLength": 600,
                "stockWidth": 185,
                "piecesPerStockBoard": 1,
                "totalStockPieces": 1,
                "widthWaste": 0,
                "nestingNote": "Using 185mm boards (exact match)",
                "linearMeters": "0.60",
                "linearMetersWithWaste": "0.69",
                "wastagePercent": 15,
                "pricePerLinM": "67.50",
                "subtotal": "46.57"
              },
              {
                "species": "Tasmanian Oak",
                "thickness": 19,
                "width": 140,
                "length": 230,
                "quantity": 2,
                "roundedLength": 300,
                "stockWidth": 140,
                "piecesPerStockBoard": 1,
                "totalStockPieces": 2,
                "widthWaste": 0,
                "nestingNote": "Using 140mm boards (exact match)",
                "linearMeters": "0.60",
                "linearMetersWithWaste": "0.69",
                "wastagePercent": 15,
                "pricePerLinM": "24.50",
                "subtotal": "16.90"
              },
              {
                "species": "Kauri Pine",
                "thickness": 19,
                "width": 190,
                "length": 200,
                "quantity": 1,
                "roundedLength": 200,
                "stockWidth": 190,
                "piecesPerStockBoard": 1,
                "totalStockPieces": 1,
                "widthWaste": 0,
                "nestingNote": "Using 190mm boards (exact match)",
                "linearMeters": "0.20",
                "linearMetersWithWaste": "0.23",
                "wastagePercent": 15,
                "pricePerLinM": "24.50",
                "subtotal": "5.63"
              }
            ],
            "totals": {
              "subtotal": "69.10",
              "gst": "6.91",
              "total": "76.01"
            },
            "uploadMethod": "excel",
            "timestamp": "2025-11-27T22:42:22.060Z",
            "originalFile": {
              "filename": "Matt Southwell Testing (1).xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "data": "UEsDBBQABgAIAAAAIQCmdH/QjAEAAMgFAAATAAgCW0NvbnRlbnRfVHlwZXNdLnhtbCCiBAIooAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACsVE1PwzAMvSPxH6pcUZvBASG0jgMfR0ACfoDXeGu0Nolib6z/HjdsE0JjY9oujZrE7z3b8RveLdsmW2Ak612pLouBytBV3lg3LdXH+1N+ozJicAYa77BUHZK6G52fDd+7gJRJtKNS1czhVmuqamyBCh/QycnExxZYfuNUB6hmMEV9NRhc68o7Rsc59xhqNHzACcwbzh6Xsv2tZGydyu6/7/VUpYIQGlsBi1C9cOYXSe4nE1uh8dW8FeiCQkQwVCNy2xQhWmGMb8gsiZHSWzkjNnQY6SqrQiKTMKptoAtJ/Q+G/uTvrFZxL9KOaA1mrxD5GVrJXS8b/enjbOz9rNgNcmhpUomKFqxb697Bny6TTsvliYX0+SXgPTpY3hjq9D1eQoLZQ0jcNUinLnsC3cdcQ0TzxvJ6pycX8BN7X8lhLBXQ3C+nbnsC3cUvI/0afSBxjYiHd2E9on10HgQII1vcDOm2x75hFMs5uu3Ye5pB809uGfQWGQww7HAKcUeIXW8yOvnw6AsAAP//AwBQSwMEFAAGAAgAAAAhALVVMCP0AAAATAIAAAsACAJfcmVscy8ucmVscyCiBAIooAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACskk1PwzAMhu9I/IfI99XdkBBCS3dBSLshVH6ASdwPtY2jJBvdvyccEFQagwNHf71+/Mrb3TyN6sgh9uI0rIsSFDsjtnethpf6cXUHKiZylkZxrOHEEXbV9dX2mUdKeSh2vY8qq7iooUvJ3yNG0/FEsRDPLlcaCROlHIYWPZmBWsZNWd5i+K4B1UJT7a2GsLc3oOqTz5t/15am6Q0/iDlM7NKZFchzYmfZrnzIbCH1+RpVU2g5abBinnI6InlfZGzA80SbvxP9fC1OnMhSIjQS+DLPR8cloPV/WrQ08cudecQ3CcOryPDJgosfqN4BAAD//wMAUEsDBBQABgAIAAAAIQBw0w1g/gIAAMwGAAAPAAAAeGwvd29ya2Jvb2sueG1spFVrT9swFP0+af8h8veQOH0SEVBfMDSY2HhpEhJyHbfxSOzMdtoA4r/vOmlaSr8wiFo7zo2Pz7n32Dk4KrPUWTCluRQRwns+cpigMuZiHqHrq2O3jxxtiIhJKgWL0CPT6Ojw65eDpVQPUykfHAAQOkKJMXnoeZomLCN6T+ZMQGQmVUYMDNXc07liJNYJYyZLvcD3u15GuEA1QqjegyFnM07ZWNIiY8LUIIqlxAB9nfBcN2gZfQ9cRtRDkbtUZjlATHnKzWMFipyMhqdzIRWZpiC7xB2nVPDrwh/70ATNShDaWSrjVEktZ2YPoL2a9I5+7HsYb6Wg3M3B+5DanmILbmu4ZqW6H2TVXWN1N2DY/zQaBmtVXgkheR9E66y5BejwYMZTdlNb1yF5/oNktlIpclKizSTmhsUR6sFQLtnWA1Xkw4KnEA32W0EfeYdrO18oGEDtB6lhShDDRlIYsNqK+mdtVWGPEgkmdn6xvwVXDPYOWAjkQEtoSKb6gpjEKVQaoVF4d61B4V2mZWHuxnIpUgl76O6V+ciu0//DfoRa9R4orlnV92/VAzkVNha7MMqB+9PxGaT5kiwg6VDaeLUnTyGruHUvqArx/XNr2AmC0WDijvCw7bb9/b476PfaLu4NeuNJC7cDv/sCYlQ3pJIUJlnV00JHqA3F2wmdk7KJYD8seLyh8eyvLtf2b5om9mIF25PrhrOl3lTeDp3ylotYLiPk4gBEPW4Pl1XwlscmiVCr323DK/Wzb4zPE2Ac4GoeONwyi9AWo3HN6Bgu1zZbjLxXlKozEqhVvSMqX1/acxPDYWz7KsnIUaFdQ53GuCpiM42SlF4ox3b2Rd8GWWnOtKl6sBaP0ImU85RVqHpUaCOzMTFklX67u+YyrAE30c2CHVhcFiI2iud23ihh9EEXGeDOyp/jp8XVzYRNhn/YUzBZtEblsOP/NtKcT24XPd1Z5vT7yfg8alw8l+vzgFZUpISTovmUzCum1UlayQQp4NJGkNd8iA7/AQAA//8DAFBLAwQUAAYACAAAACEAmKxUpxYBAAArAwAAGgAIAXhsL19yZWxzL3dvcmtib29rLnhtbC5yZWxzIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArJLPSsRADMbvgu9Q5m6nFVxFtt3LIuxV1wcYp+kf2pmUSVbt2xsLbq0s9dLLQBLm+34J33b36broHQI16DOVxomKwFssGl9l6vX4dPOgImLjC9Ohh0wNQGqXX19tn6EzLJ+obnqKRMVTpmrm/lFrsjU4QzH24GVSYnCGpQyV7o1tTQX6Nkk2OvzWUPlMMzoUmQqHQvyPQy/O/2tjWTYW9mhPDjxfsNBUmwDFCwdZj0TYhAo4U7N2LMRKX4a5XxWGh06uOVGM9ZJ9uqb9B4aWagCeCM4tkkvJJF2C2awJwxIYmEDGUo/vIsPdHwZ7Ikb3E78KseogtujmSdPfe74htg7YFIbNZHzuSAD0LOL5FwAAAP//AwBQSwMEFAAGAAgAAAAhALPUw1zyEwAAmcMAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWycVFmP2yAQfq/U/2DxHmMcO5firKpdrZq3qHv0mWCcoBjjAjlWVf97B3wkUqo02shhbGa+YwB7/nCSZXDg2ghVZYiEEQp4xVQuqk2G3l6fBxMUGEurnJaq4hn64AY9LL5+mR+V3pkt5zYAhspkaGttPcPYsC2X1ISq5hVkCqUltfCoN9jUmtPcg2SJ4ygaYUlFhRqGmb6HQxWFYPxJsb3klW1INC+pBf9mK2rTsUl2D52kerevB0zJGijWohT2w5OiQLLZclMpTdcl9H0iCWXBScMVw3/Yyfj5KyUpmFZGFTYEZtx4vm5/iqeYsp7puv+7aEiCNT8It4Fnqvhzlkjac8VnsuEnyUY9mVsuPduLPEO/o/Y3gEjcEJ2HLvcHLeb+nKz0Yl7TDX/h9q1e6aAQ9lWtYALOKsKLOe6rcgEHwi1CoHmRoW9ktiRRFLsiX/Mu+NFc3AeWrl94yZnl4IqgwB3otVI7V7iEqch58AWOlDIrDvyRl2WGngj0Y355HXff+3DQztOl3rN/CcB+zgu6L+2jKn+K3G5BNwmTOB1PSJyiLvtDHb9zsdlaSMMs2xurZD/j1JgqoRUYAyncWwuHlZ6aJhracQfrZFpUUw9b6+shHpv64fDCRiP4TyT07ZEQWyQZ34dMWiTEFhnHIUmikWv8hiJkvSLEDpeG8SQl6f+QoxYJsfOahGMSTYfj25KweF4SYicJrm94hE9ks55nqcktJez37y8AAAD//wAAAP//nN3hkty2DcDxV/HcA8RLAiCBju2Z2rdS/BiejKfphzad2E1fv9KJd0eRW+8//ZbBQjxSkATtbxXr3bdfv379/vjl+5cP737/7T9vfn//kB7efPvXl39+2/7rL/Hw5tfv7x+y/2QPH979sn/81/3z7bPy8Gb75NsW/uPD5d3bPz68e/tLS/nYUurD2xb5NEUep8h1iixTZG0Rfxn55xbZA2+3FbwsI99YRu6WsX++LWNb4csy0rCMlqKvy2gR6TbK540ep42uU2SZImuL2LSM7U9N1eiXsX8+LEOGZbSUbhlHJF+6ZdhQw8eWk14Wf50iyxRZWyRP69A769g/H9ahwzpaSreOI5L7cthQxMdpq+sUWabI2iJzPezOOvbPh3XYsI6W0q2jRfp1lOGwmja6TpFliqwtMi9jO3t/eFjtnw/LqMMyWkq3jBbpl+HDMqaNrlNkmSJri8zLqDeWkX6q27J/+fe377/94+evf//bfgFLL1evfYthYTEsrKV0C2uRfmFpPF+mra5TZJkia4vMK/PTyp6vvXt0m/3l5aT82CKvp+mnKfI4Ra5TZJkia4vMp/J2yfzhsbN/vvWM/sI6XlmPlNP+HK6jn26kDBe2xxspwzXjeiNlOB2XGynDybceKds14bVVvJ4Np66zlebHO+cp4f3DdoS+jjWcJB9bTt9h03CQfmo59an/Jh8W9Xj6WIZ9ez19Wi7Doby8/P29tw+lW29MLr8OcN4Zt24l+uaVjubd74w8Hiotp98ZeTxWWk7bGTqemuePhz15PX2aZdoZxxzL044e/vB6a3LDUfq55Tzdspx3z71blHTcFZx2z9gUW85p9wwHw6eW03ZPTLvn+DPPH5+vhtfTxnk+Vo6Nj90zHSvPH74e7Pn13DrvjHs3Oum4tTjtjLEltZzS3XceW73eiT62nNfIdYos0zjrFPncIjfKeu9WJx03F6eVTJeAI6dfyRHpVzJGrm3k15ylRV7HWfvIuQL3bm3ScTdxmvfYO1tOP+9jq37eY+TaturnfeT08x4jn9tWNypw7+5m//Kytah+JeN5/7Hl9Cs5tupXMkaubat+JUdOv5Iucq7ArduZ0/XyuF04zXu6Xh45/byPSD/vMXJNY2RpkX7e48ifW86NCpxvX44vkaeVHHcXp5UMF9eP6cjpV3JE+pWMkWvbqq/AOM7aj3yuwL17m/374njkjN+3Wk4/72Orft5j5Nq26ud95PQVGCOf21ZzBfYvdz+8S3tKGM6Bsbm0nG4lLdKtZIpcp8gyjbP2kfPX9nv3DHm+Z5DxG1bL6ed9bNXPe4xc21ZdBaZx1j5ynvddb5ibuQz3mR/zc798cZMW6ef93K2fc65TzjKNs/aR87zv9d392/V4xI99t+X0+3vquy2n67tTZJnGWfvIed73umyeu6yMXbbl9POeumzL6ec95izTOGsfOc/7XpfNc5eVscu2nH7eU5dtOf28x5xlGmftI+d53+upee6p4434x5bTz3vqqS2nn/eYs0zjrH3kPO97PTXPPVUnCJx6atuqPy+nnjrlLC3SXdH7yHne9zponjuojh205fT7e+qgLaff32POMo2z9pHzvO910Dx3UB07aMvp5z110JbTz3vMWaZx1j5ymrfc65dPCed+qWO/bDndvFukO06myHWKLNM4ax85z/tev5S5X+rYL1tOP++pX7acbn9PkWUaZ+0j53nf65cy90sd+2XL6ec9dsfHltPPe8xZpnHWPnKed98vt1P+6eeRE8jP/VLHfilHTj/vqV+2nH7eY84yjbP2kfO8+355c95zv9SxX8r0rbRF+uN7+lY65SzTOGsfOc+775c35z33Sx37pYzfHT+1SD/v6VvplLNM46x95Dzvvl+2eSe7SdPbjVz76U36ZvXjjZ5F+GmT9w/xKsJ95DylvqXA0Y9W0I/eRc6j9xd+OPpxwe5H7yKn0bW/PLPRnzY57Zk+ch69v4jC0Y8LZDd37SLn0ftLHT0U9MZ15n8cP8+HwtMm5wUfV4ynSZ6ndONqcPfo1Bun4v2N/p/zQPl58HryKD+8u422A+7pB6J7p6ZtByBL3A4DlrgdFixxqyJL3KrKErdKssSteiyRHte2VYmNSCtTaGUKrUyhlSm0MoVWptDKFFqZQitTaGUKrUyllam0MpVWptLKVFqZ/UdldOBWWplKK1NpZSqtjNPKOK2M08o4rYzTyjitjNPKOK2M08o4rUzQygStTNDKBK1M0MoErUzQygStTNDKBK1MutDSpAutTbrQ4qQLrU660PKkC61PutACpQutULrQEqULrtH+dAK6Sqf9Z3mYiWu0/yYMx8Q12n/lhGPiGu2/28ExcY32X6LYmPtvPzAT12j/fQOOiWu0Gz4cE9dod2o4Jq7RbrFwTFyj3RvZmLvwwUxco12x4Ji4RrvUwDFxjXZqgWPiGgmu0c4Z7K/vNAEzcY12bYBj4hrtwgDHxDXaLQGOiWukuEaYDZLhGhmukeEaGa6R4RoZrpHhGmE+SIZrhAEhYUFImBASNoSEESFhRUiYERJ2hIQhIWFJSJgSEraEhDEhYU1ImBMS9oSEQSFhUUiYFBI2hYRRIWFVSJgVEnaFhGFhe6ya9g5MCwnbQsK4kLAuJMwLCftCwsCQsDAkTAwJG0PCyJCwMiTMDAk7w/aMNTzqMnaGjJ0hY2fI2BkydoaMnSFjZ8jYGTJ2hoydIWNnyPuT9uhONWNnyPvT3nBMeq3L+zPOcEx6X5f3J3LhmPS+LmNnyPtTneyvY2fI+5OLcExco/3pPDgmrtH+BBocE9dof8qKjYmdIWNnyPuzO/Cv4xrtz6fAMXGNBNcIO0MWXCPsDBk7Q8bOkBXXCDtDVlwj7AxZcY2wM+T9QQV2LGFnyNgZMnaGjJ0hY2fI2BkydoaMnSFjZ8jYGTJ2hoydIWNnyNgZMnaGjJ0hY2fI2BkydoaMnSFjZ8jYGTJ2hoydIWNnyNgZMnaGjJ0hY2fI2BkydoaMnSFjZ8jYGTJ2hoydIWNnyNgZMnaGjJ0hY2fI2BkydoaMnSFjZ8jYGTJ2hoydIWNnyNgZMnYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCH6eQbAzCH6eQbAzCH6eQbAzCHYGwc4g2BkEP88g2BkEP88g2BkEP88g2BkEO4NgZxDsDIKfZxDsDIKfZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZxDsDIKdQbAzCHYGwc4g2BkEO4NgZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGxc6g2BkUO4NiZ1DsDIqdQbEzKHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BmM/7OO2BkMO4NhZzDsDIadwbAzGHYG4/+8I3YGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHYGw85g2BkMO4NhZzDsDIadwbAzGHaG7X2J8P/fLNgZCnaGgp2hYGco2BkKdoaCnaFgZyjYGQp2hoKdoWBnKNgZCnaGgp2hYGco2BkKdoaCnaFgZyjYGQp2hoKdoWBnKNgZCnaGgp2hYGco2BkKdoaCnaFgZyjYGQp2hoKdoWBnKNgZCnaGgp2hYGco2BkKdoaCnaFgZyjYGQp2hoKdoWBnKNgZCnaGgp2hYGco2BkKdoaCnaFgZyjYGQp2hoKdofAXSfA3SfBXSfB3SfCXSfyJt0ng10nw90nwF0pgZyjYGQp2hoKdoWBnKNgZCnaGgp2hYGco2BkKdoaCnaFgZyjYGQp2hoKdoWBnKNgZCnaGgp2hYGco2BkKdoaCnaFgZyjYGQp2hoKdoWBnKNgZCnaGip2hYmeo2BkqdoaKnaFiZ6jYGSp2hoqdoWJnqNgZKnaGip2hYmeo2BkqdoaKnaFiZ6jYGSp2hoqdoWJnqNgZKnaGip2hYmeo2BkqdoaKnaFiZ6jYGSp2hoqdoWJnqNgZKnaGip2hYmeo2BkqdoaKnaFiZ6jYGSp2hoqdoWJnqNgZKnaGip2hYmeo2BkqdoaKnaFiZ6jYGSp2hoqdoWJnqNgZKnaGip2hYmeo2BkqdoaKnaFiZ6j4eYaKnaFiZ6j8zZX81ZX83ZX85ZX87ZX89ZX8/ZV/4gWW+A2W/BWW2BkqdoaKnaFiZ6jYGSp2hoqdoWJnqNgZKnaGip2hYmeo2BkqdoaKnaFiZ6jYGSp2hoqdoWJnqNgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh+nsGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2dw7AyOncGxMzh2BsfO4NgZHDuDY2cI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hsDOENgZAjtDYGcI7AyBnSGwMwR2hnTB0LClJvhvOWypd19Z/vbbr1+/fn/88v3Lh/8CAAD//wAAAP//bJLLbsIwEEV/xfI+DUmcBxZBskPrdlGpEv0BU4bEIsSRY9SX+u81oRCkejdzdHXtuTOLA5gaKmjbAb3pY2dLHBG8XFwxMrArMSuoKHD4j1c5FbmHs4iKyMdjymOfT0yFj7OE8sSnT6jwcUYoJz49ocLHWUp56tOnVPg4yyjPfPqMCh9nOeVjPuGU83LRfPZgWtXth5v6HHRFMDJUbUtsnrYRRh+GHk/d9yzjbMXmaVDxhywgjCVBwe/nQUH4imVxQrK0+jn9LLx172UNz9LUqhtQCzu33dld7l5QdXOpre5HmmK00dbqw6VrQG7BuA6jndb2XLoHTp5rsMce9dLNsVZfUOK5Eyn7qh/hzxojbRR0VlqluxL32lgjlb2Zbty3lZsWXqSx0/m567vSKYtx2+Ekd4O+a7MfGgC7/AUAAP//AwBQSwMEFAAGAAgAAAAhAFxfXVehAwAAlQ4AABMAAAB4bC90aGVtZS90aGVtZTEueG1szFddb9owFH2ftP8Q5X0FCoGCClULRXvYNGls2rNJnI/WcSLbtOu/3/V1PmwCo+taqfBCnOPr43uuzzWXV79z5j1QIbOCz/3BWd/3KA+LKOPJ3P/5Y/3pwvekIjwirOB07j9R6V8tPn64JDOV0px6MJ/LGZn7qVLlrNeTIQwTeVaUlMO7uBA5UfAokl4kyCPEzVnvvN8f93KScd/jJIewm5RSJf1FHfaWQWyupB4ImdjooLSLje4HGiFFsl0y4T0QNvf7+PF7i8semVUAprq4NX4qXAWI7s9PxUMAU13cXjwEkDCEXXTXDm6mN6ugWtsCmZ/d2LeryWo4cPBW/GGH83Wgvw4eQSb+qINfr5eQNQePIIMPOvjRaHK+HDl4BBn8uIOf9K9Xo4mDR1DKMn7fzXgwHi7r3TaQuGCfT8NbFKjfVI5eIi64OlZHObkrxBoAGsiIyrinnkoakxBqc0lYthWZZk9mlBx7E8rDb4CHEz7P+Juu1YaHldtNYwpyNwPf4jgLKZ66OGNso54Y/SIxCbJgWbSGQVQHj19zwsoUflZiOrhEEJzjiUL9ylS6SUkJCRzgComsQifSKwsJBxWH0S/oXmyUYZd/LSJzpgcDfaiNApKodrwfNOMgmjLo8aQt5iY82kGChlIT0HP/hYS1mEtieIDEpB4EFf5GAnf2KiymB1hc6PC1VLWKTSqAWqMKHC2PaNMPRsZAPRkSRiOtk/HSWl0tzqsqfSyZzK6APvSMqgJapaea69Ht6d2ZUnuG0g4Jq9xcElYZpiSiVXXaHec1tZ62kjr0dCrq09DSmFy8hdbaRPa8gXHbKRj3Huf+eBjA1SEk5dyPwUDhZ15C7Uie+B5hCdwtQiXMgX+Js5RCqhWRqUk4mo5xgzxTVHgsy+e+3n5TDYyjhyC3wTkYwrslNwVbeW/kQHRXZBrHNFS27NYI9kUEgMMbrzj4Fqe/HKxnFjuQe5NGj96W7cR3AiUWTAY6gVEmFbQak80oE5aRtfW315gq2z1we9RrEVampOootpkbOJpoQwefzKaxy0ECnRS4z1Uj3Ca6wf531z3dqvVuLNNse6bjKrprHjbTt2vyFqu2iTqsjHXj3Uu2XjetvQ4K9WCXONF1n9EQLGrtYg41zbhrw9qzq1GX2iteCKxMjI/krekRBzPx0s4P8/arVjeI+l6JxwD/F9p/4IrtHZjHCq7TO6akuUb/VoLApc9cyBvbwKmLPwAAAP//AwBQSwMEFAAGAAgAAAAhAJr7on0TBgAAJiAAAA0AAAB4bC9zdHlsZXMueG1s5BnbjuI29L1S/yHKQ9/YXEgYQoHVMEzUlVarqjOV+tCXEByw1ompY2Zhq/33HtsJMUMCAYZqq45GIXbsc7/4HA/fb1JivCCWY5qNTOedbRooi+kcZ4uR+ftz2OmbRs6jbB4RmqGRuUW5+X784w/DnG8JeloixA0AkeUjc8n5amBZebxEaZS/oyuUwZeEsjTiMGQLK18xFM1zsSkllmvbPSuNcGYqCIM0bgMkjdjn9aoT03QVcTzDBPOthGUaaTz4sMgoi2YESN04XhQbG6fHXGPD4D8oEckvB7hSHDOa04S/A9gWTRIco0OSAyuworiCBNAvg+T4lu3u8b9hF0LyLIZesFDhji4WXAirt4MVmONhtk7DlOdGTNcZB/vYTRnqy4c5TPY801BqfqBzELz9p/HTX2vKf05T9Wta46FVgBoPE5ppEAVIMTMe5l+Nl4gAPEesjymhzOBgSwBRzmRRitSKh4jgGcNimbS2YjrFoHuJSwFUz5lYVYB23Qo0W8xGZlj8iela+JYOap/Cc9e35Kge490ZMjkJ4QLWdSk6GjFvCOqkrvf42iPoHIs5otGWGkqiFJOtMkVpUHsg15q91Zmy3Whrx2xZosjBVTAhO3f0he/AxHgIoZAjloUwMIr35+0KPCeDqK1cQq47sXrBoq3j+u035JTguaBi8SD9tTCH7sQPva4AM2v6YGkkQ3RQhJ0grwGb8uEabNWHN8Q2DR7vp3W8VR9qsUkWQYMzyuaQb3chtQviU3PjIUEJB6ExvFiKX05XQoSUc0hI4+EcRwuaRURE03KHvhMSNeTkkcmXkFPLCFpoxJZ/UrECyR6OlvuAmjOI2WfjpihaApdSlUK9CTWXSn+n4ZYAlDmctoYGO7oRlrN1cCu2r1ZDC0crRXs50zfx5mPkdP1e3/ek/7fzA7fvPXZDuUFz/GMotB1tbbQlxVrE+r/zqMXx/4ge6zPPvxCz3yDSFWkWsnaMCHkS6fWPZJe6XUiym0SrhKB4FuWCKIrEK5y4ileVpdUAXL9pk9O8y4hWK7L9tE5niIWypJY45Kw49VWjiTxfVON7ghdZikT5BuDlhl8Z5SjmsuSXx1FLZ08xq/PpXcSosUlOctytxASvuph2uxXJIchV1IHFSHIsT/1NsvQbFCCaAAVddZBL6ZWYNOmJShUKTyVMY0kZ/gpEiYpVxCdTdFE4jsU4BmkjVYlukmZ19xpIFGbw3dMIAvpeaLxrkqP7RjSerVnRECm8H14rs3ZOUKQ8ubS91rZ4QJ/xhUWrZ7SRLiPKhQMzLJo2Kli1J3c/AO3csdY5lXvdkgkt3mqBBGZbBJIjYRhang2xu8Hkj8Bqogtstp37HIF9JFu0CL1girVcAvdXU6ZxvWf/MDgGu8n8j8igiQsI/1dz0QQb4vbVsMF1SukDGi1CXCYh5WutklXL5NTEfOuYeoHSwGyuFqwWy/YCwQnTuyjvyxO4LJEO4qsH54zyLChe67LBAUk3jK4Hx5XarKBT3dqz2lBdife1WbRBeeBw16HU0oZ+4q6PVK+PnK+zmpCjOD3DeVmrEvZqhN3h2hBXBiPzF+jMMoKzz6W5A47ZGhOOM3Fg7stWf1lvFHs+iTM/0fxD2/DqCA90zDdVlSL6izA+2Sluaq72wn4Y1DVXdx/q250S5zWIZff2/K6udS3iqlXyunld9VDqmtcKsXiCBri4g5QF497lWTVd6FXeoDod2bk1jRV+oapOKy7cRERkwWCNwS7+VpW0bXds23HgAW9CRvJRfvsG2q6QPBK4Psu4weVdwBIuXxH7jX4xDSBSmJq8vWhanmCWc1j9xBleod0eWXU17clRTLP54SZlotUucBpNQuMhHFU/5tCVhl9jzTAw+zi5C6aPodvp25N+x+sivxP4k2nH9x4m02kY2K798K26hvWuuM6Vd9BQpjneICdw6csKvc1REq0Jf6rmRqY2+Ci69FIaFpCt0x64Pfved0A9XdvpeL2o3+n3un4n9B132vMmj37oa7T7F17V2pbjqAtkQbw/4DhFEFZKsyvIf9ZnR6YYHmFCsCI1YVUX/ON/AAAA//8DAFBLAwQUAAYACAAAACEAlZgl2fkBAADNBQAAFAAAAHhsL3NoYXJlZFN0cmluZ3MueG1sjJTbbtNAEIbvkXiH1XIDEomd9ABEjktxmxbIocUJAe629hCvugezO27J27OJGoTGRMqNZX87h388M5uc/daKPYDz0poh73VjzsAUtpRmNeSL+ajzljOPwpRCWQNDvgbPz9LnzxLvkQVf44e8QqwHUeSLCrTwXVuDCSc/rdMCw6dbRb52IEpfAaBWUT+OTyMtpOGssI3BIT/pc9YY+auB7C9IEy/TBNOsQQxq2FiGjDNXgmOjEDqJME2ijcnWbKNl4GtRBI0hmQf3ADzNsSnBIJsKDQNGXNKJQGS5bbB6BKUOCjixd1IBmzb6Dlw74mWoSrHzsgwK/OAwiUVlrdqjMBMeQ7prqVR4rCqWb60PCjwHERri9tXuWKaEuz8o1AUoGWZkvasstIHdyOK+s6jb/+DNaacXx+xJeo6vd6/bKqb5kvV7J8e0Fy8OEpJZXYcxfOpoq6FLWWLFXmr9ioafV0GuCU357+kYzGqP420jDEpc04B5DYUET/F5K7Gt264WEUp21dAhTj+0bGXZTjIXns0EbV2aUecLJx7DZlP8WTROtmwpuKRgRMEVBdcUfKTgU0sLBWMKJhRMKZhRcEvBDQVfKMgpmFOwoOArBUsKvlHwnYIfFMTHR/2jXj9+11oQ3fW7m+r9Zhu7hf1nfKJwHad/AAAA//8DAFBLAwQUAAYACAAAACEAVqHcgAoBAABzAgAAIwAAAHhsL3dvcmtzaGVldHMvX3JlbHMvc2hlZXQxLnhtbC5yZWxzrJLBTsMwDIbvSLxD5TtJOySEpqXjAEg7cIHxAFnqttESJ0q8sb09EROCTUNcdoocO78//85svvOu2mLKNpCCRtRQIZnQWRoUvC+fb+6hyqyp0y4QKthjhnl7fTV7Rae5PMqjjbkqKpQVjMxxKmU2I3qdRYhIJdOH5DWXMA0yarPWA8pJXd/J9FsD2iPNatEpSIvuFqrlPpbO/2uHvrcGH4PZeCQ+00KyXjksgjoNyAqEONzkw9GIAgvyPMfkkhwxWWJMb8hcjM5HRCc5eRI3YmXpL8jmkpBjsT05S+sfPK+t4zD1IocNjx/o3IOzWxQm+O+il9CVZT3tynikv9yUR1+l/QQAAP//AwBQSwMEFAAGAAgAAAAhAG4kVqOxAQAANBUAACcAAAB4bC9wcmludGVyU2V0dGluZ3MvcHJpbnRlclNldHRpbmdzMS5iaW7slMtKw0AUhv80XqouVBDcuBCX0kJL421naapWGlOaVrotNkJAk5KmiIoL8SEE8VUEH8EHcO1KfAA3+k+siFKliBvhTDhzLnPmzORjOBY87CFEgA5lHxHmUaHvwY/tiFEVMbGBfkMb0kfu0ZjR0xo0jOFqwki2aE2ikUhQNxI65zyMvrt/F9R625ROUJR+4dgsOZ+OMUs79QXcIaWnpi9vnLWfThuOF5fjWn94VSn1jwi8v6tBrnzHJMeqbavcKdziFBms8pVvUGc555FGEcvIMZammFjhl2ZOjvEirQx9g36WukAvh6XYO2PFatExy2XUfS90O8qqNNtu6HgnLvIG7NBz/agZeYGPil2tVfOlGqpuJzjoxjGadltZWRSCgyC0gpb7Zn3/Z6lpYNcwrXcG1+PthTmmP1J0yrNmJ42HI+viaXRr9nbpXP1/ubeG5Eddlav8xZ5W/jplV/lTIIeA/aaLQ7hxh6mz77jsNxU0aXVwxPUQLSZ/zbS55g+YW2CNY7TZwRzuUOepjhYxJkMICAEhIASEgBAQAkJACAgBISAEhIAQEAKDEHgFAAD//wMAUEsDBBQABgAIAAAAIQAo0CV42AEAAOgEAAAUAAAAeGwvdGFibGVzL3RhYmxlMS54bWyclN9r2zAQx98H+x+E9rI9OLbr/NhMnTICGYUy2JKxx6HK51jUkowktwmj//tOdpoQJy1mepDtk+7j70l3d32zlRV5BGOFVhmNRxEloLjOhdpk9Nd6GXymxDqmclZpBRndgaU38/fvrh27r4Cgt7IZLZ2r0zC0vATJ7EjXoHCl0EYyh59mE9raAMttCeBkFV5F0TSUTCjaEVLJh0AkMw9NHXAta+bEvaiE27UsSiRPbzdKG68qo1tDtiZ5gW/NGVwKbrTVhRshLNRFITicaYzHoYFH4Y/miEr+kzU9sFCXyPGskWnSxr/+jfYjwOfCT1GwxNFOL2vPlCgmMbi1j/EPuufC1hXbfT+1Gigy+vVL+i2Z0Hl3TQtdNVJZwnWjXEZnp/ajmuRcThx1clpNrZS4E3SQ84GGJ79pcVc+uEE4TAU/DrgFXi5mmnLEx0Uuwf3FDoMnPfhvkbuSfJTy0yXueDB33OOuS8EfFFj7KnsymD3pse9Abd4QPR0MnvbAPxqmHFbQpaOYDabOetRVDVxgk8CkCNsesU++fY6s3K6CW1XofTKvfEeIA+vN2GlK/bQUxrrOqS0Sb7tjZ6af+mnljKgB2w/Wgt/VOR2s0VHD/B8AAAD//wMAUEsDBBQABgAIAAAAIQD/cwJrUwEAAGYCAAARAAgBZG9jUHJvcHMvY29yZS54bWwgogQBKKAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB8kl9LwzAUxd8Fv0PJe5uk+0toO1DZkwNhFcW3kNxtxTYNSWa3b2/abrVD8TH3nPvjnEuS1akqgy8wtqhVimhEUABK1LJQ+xS95utwiQLruJK8rBWk6AwWrbL7u0RoJmoDL6bWYFwBNvAkZZnQKTo4pxnGVhyg4jbyDuXFXW0q7vzT7LHm4pPvAceEzHEFjkvuOG6BoR6I6IKUYkDqoyk7gBQYSqhAOYtpRPGP14Gp7J8LnTJyVoU7a9/pEnfMlqIXB/fJFoOxaZqomXQxfH6K3zfP265qWKj2VgJQlkjBhAHuapPlBpQMaIJHs/Z+Jbdu40+9K0A+nLMNdy7Y1kd3aKAsE/zb4aFdh54MMvCpWN/hqrxNHp/yNcpiQmchmYdkltMlowsWk482wM1+m7IfVJcY/xLjWUhpSKc5WbDpnMV0RLwCsi737c/IvgEAAP//AwBQSwMEFAAGAAgAAAAhACkP9cZ9AQAA/gIAABAACAFkb2NQcm9wcy9hcHAueG1sIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnJLLTsMwEEX3SPxD5D11CgihyjFCPMQCRKUWWBtn0li4duQZopavZ5KIkgIrdvO4uj6+trrYrH3WQkIXQyGmk1xkEGwsXVgV4ml5e3QuMiQTSuNjgEJsAcWFPjxQ8xQbSOQAM7YIWIiaqJlJibaGtcEJrwNvqpjWhrhNKxmrylm4jvZ9DYHkcZ6fSdgQhBLKo2ZnKAbHWUv/NS2j7fjwebltGFiry6bxzhriW+oHZ1PEWFF2s7HglRwvFdMtwL4nR1udKzlu1cIaD1dsrCvjEZT8Hqg7MF1oc+MSatXSrAVLMWXoPji2Y5G9GoQOpxCtSc4EYqxONjR97RukpF9iesMagFBJFgzDvhxrx7U71dNewMW+sDMYQHixj7h05AEfq7lJ9AfxdEzcMwy8A86i4xvOHPP1V+aTfnjfu/CGT80yXhuCr+z2h2pRmwQlx73LdjdQdxxb8p3JVW3CCsovze9F99LPw3fW07NJfpLzI45mSn5/XP0JAAD//wMAUEsDBBQABgAIAAAAIQCHzGQQkAAAAI4AAAALAAAAeGwvbWV0YWRhdGHjYjbUM5AS4WI0FOIyNDQzsTAwMjQ1UXjFriHlVcjFmpoX7+4kJOyYm1qUmZyo75NfHO+Yl56ak1rsIOKREuTPxcLBIMEoxOLn7+cqxebkHxLi76vE4R/mGuTm4x+uxe6cmJOZVJRpwG3B4MDgwRDAEMGQxMHBIMAswaDAnMXOwSTw//9/9ioWDmYJxhmMDABQSwECLQAUAAYACAAAACEApnR/0IwBAADIBQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQC1VTAj9AAAAEwCAAALAAAAAAAAAAAAAAAAAMUDAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQBw0w1g/gIAAMwGAAAPAAAAAAAAAAAAAAAAAOoGAAB4bC93b3JrYm9vay54bWxQSwECLQAUAAYACAAAACEAmKxUpxYBAAArAwAAGgAAAAAAAAAAAAAAAAAVCgAAeGwvX3JlbHMvd29ya2Jvb2sueG1sLnJlbHNQSwECLQAUAAYACAAAACEAs9TDXPITAACZwwAAGAAAAAAAAAAAAAAAAABrDAAAeGwvd29ya3NoZWV0cy9zaGVldDEueG1sUEsBAi0AFAAGAAgAAAAhAFxfXVehAwAAlQ4AABMAAAAAAAAAAAAAAAAAkyAAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECLQAUAAYACAAAACEAmvuifRMGAAAmIAAADQAAAAAAAAAAAAAAAABlJAAAeGwvc3R5bGVzLnhtbFBLAQItABQABgAIAAAAIQCVmCXZ+QEAAM0FAAAUAAAAAAAAAAAAAAAAAKMqAAB4bC9zaGFyZWRTdHJpbmdzLnhtbFBLAQItABQABgAIAAAAIQBWodyACgEAAHMCAAAjAAAAAAAAAAAAAAAAAM4sAAB4bC93b3Jrc2hlZXRzL19yZWxzL3NoZWV0MS54bWwucmVsc1BLAQItABQABgAIAAAAIQBuJFajsQEAADQVAAAnAAAAAAAAAAAAAAAAABkuAAB4bC9wcmludGVyU2V0dGluZ3MvcHJpbnRlclNldHRpbmdzMS5iaW5QSwECLQAUAAYACAAAACEAKNAleNgBAADoBAAAFAAAAAAAAAAAAAAAAAAPMAAAeGwvdGFibGVzL3RhYmxlMS54bWxQSwECLQAUAAYACAAAACEA/3MCa1MBAABmAgAAEQAAAAAAAAAAAAAAAAAZMgAAZG9jUHJvcHMvY29yZS54bWxQSwECLQAUAAYACAAAACEAKQ/1xn0BAAD+AgAAEAAAAAAAAAAAAAAAAACjNAAAZG9jUHJvcHMvYXBwLnhtbFBLAQItABQABgAIAAAAIQCHzGQQkAAAAI4AAAALAAAAAAAAAAAAAAAAAFY3AAB4bC9tZXRhZGF0YVBLBQYAAAAADgAOAKEDAAAPOAAAAAA="
            }
          },
          "webhookUrl": "https://ttimbers.app.n8n.cloud/webhook/1ab34010-47ac-4006-948b-ced4f7e5e774",
          "executionMode": "production"
        }
      }
    ]
  }
}