05-Send Confirmation Email.json
{
  "name": "05-Send Confirmation Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -64
      ],
      "id": "c67d4491-524e-41ec-898b-7f6ed9b7e165",
      "name": "Webhook",
      "webhookId": "4d2e0634-d6f6-42ba-a6c2-5621d7706dcb"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nreturn [{ json: { quoteId: body.quoteId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ],
      "id": "7956edaf-1a4e-49fa-9335-1851743a49f1",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA",
          "mode": "list",
          "cachedResultName": "Quote Approvals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "QuoteID",
              "lookupValue": "={{ $json.quoteId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -64
      ],
      "id": "37f01d67-1b32-482a-8ef0-169043bcd6a3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CBU0H80s5UVbkRlf",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quoteData = $input.item.json;\n\n// Title case function\nfunction toTitleCase(str) {\n    if (!str) return '';\n    return str.toLowerCase().replace(/\\b\\w/g, char => char.toUpperCase());\n}\n\nlet totals = {};\ntry {\n  totals = JSON.parse(quoteData.TotalsJSON || '{}');\n} catch(e) {}\n\nconst confirmationHTML = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #c5aa7f;\">\n  <tr>\n    <td align=\"center\" style=\"padding: 20px;\">\n      <img src=\"https://trendtimbers.com.au/wp-content/uploads/2025/08/Trend-Timbers-Logo2.png\" alt=\"Trend Timbers\" style=\"height: 40px;\">\n      <h1 style=\"color: white; margin: 10px 0 0 0; font-size: 24px;\">Order Confirmation</h1>\n    </td>\n  </tr>\n</table>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n  <tr>\n    <td align=\"center\" style=\"padding: 20px;\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px;\">\n        \n        <tr>\n          <td style=\"background-color: #d4edda; padding: 20px; border-radius: 5px; border-left: 4px solid #28a745;\">\n            <h2 style=\"margin: 0 0 10px 0; color: #155724;\">✅ Payment Received!</h2>\n            <p style=\"margin: 0; color: #155724;\">Hi ${toTitleCase(quoteData.StudentName)}, your order is now in our production queue.</p>\n          </td>\n        </tr>\n        \n        <tr>\n          <td style=\"padding: 20px 0;\">\n            <h3>Order Summary</h3>\n            <p><strong>Order ID:</strong> ${quoteData.QuoteID}</p>\n            <p><strong>School:</strong> ${toTitleCase(quoteData.School)}</p>\n            <p><strong>Total Paid:</strong> $${totals.total}</p>\n            <p><strong>Delivery:</strong> ${quoteData.DeliveryOption === 'pickup' ? 'Pickup from Store' : 'Delivery'}</p>\n          </td>\n        </tr>\n        \n        <tr>\n          <td style=\"background-color: #fff3cd; padding: 15px; border-radius: 5px;\">\n            <p style=\"margin: 0; color: #856404;\"><strong>What happens next:</strong></p>\n            <p style=\"margin: 5px 0 0 0; color: #856404;\">\n            • Your timber is now being prepared<br>\n            • Estimated completion: 3-5 business days<br>\n            • We'll contact you when ready for ${quoteData.DeliveryOption === 'pickup' ? 'pickup' : 'delivery'}\n            </p>\n          </td>\n        </tr>\n        \n        <tr>\n          <td align=\"center\" style=\"padding: 20px; color: #666; font-size: 13px; border-top: 1px solid #ddd;\">\n            <p><strong>Trend Timbers</strong><br>\n            Phone: (02) 4577 5277<br>\n            Email: info@trendtimbers.com.au</p>\n          </td>\n        </tr>\n        \n      </table>\n    </td>\n  </tr>\n</table>\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    to: quoteData.StudentEmail,\n    subject: `Order Confirmation - ${toTitleCase(quoteData.StudentName)} - Trend Timbers`,\n    html: confirmationHTML,\n    quoteId: quoteData.QuoteID\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -64
      ],
      "id": "4bbe4f43-b5fc-4d88-a41e-5a60df7b1b53",
      "name": "Build Confirmation Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        -64
      ],
      "id": "d4b6362c-3812-4012-9e0a-990e3056017e",
      "name": "Update",
      "webhookId": "c946869c-9b77-4d9c-8db3-07fd361533fe",
      "credentials": {
        "gmailOAuth2": {
          "id": "fQVZRwl5DhgnmDR7",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA",
          "mode": "list",
          "cachedResultName": "Quote Approvals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1so-VLU9J8yCwIVoYcu1cV9hoQlAnCgHqRJmXBwkq1bA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "ORDER",
            "QuoteID": "={{ $('Get row(s) in sheet').item.json.QuoteID }}"
          },
          "matchingColumns": [
            "QuoteID"
          ],
          "schema": [
            {
              "id": "QuoteID",
              "displayName": "QuoteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "StudentName",
              "displayName": "StudentName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "StudentEmail",
              "displayName": "StudentEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "StudentMobile",
              "displayName": "StudentMobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "School",
              "displayName": "School",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher",
              "displayName": "Teacher",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DeliveryOption",
              "displayName": "DeliveryOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ComponentsJSON",
              "displayName": "ComponentsJSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TotalsJSON",
              "displayName": "TotalsJSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EmailHTML",
              "displayName": "EmailHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PickingSlipHTML",
              "displayName": "PickingSlipHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DeliveryCost",
              "displayName": "DeliveryCost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OriginalFile",
              "displayName": "OriginalFile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SentDate",
              "displayName": "SentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "School",
              "displayName": "School",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher",
              "displayName": "Teacher",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DeliveryOption",
              "displayName": "DeliveryOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ComponentsJSON",
              "displayName": "ComponentsJSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TotalsJSON",
              "displayName": "TotalsJSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EmailHTML",
              "displayName": "EmailHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PickingSlipHTML",
              "displayName": "PickingSlipHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DeliveryCost",
              "displayName": "DeliveryCost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OriginalFile",
              "displayName": "OriginalFile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SentDate",
              "displayName": "SentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approvalLink",
              "displayName": "approvalLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quoteId",
              "displayName": "quoteId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "studentInfo",
              "displayName": "studentInfo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "components",
              "displayName": "components",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totals",
              "displayName": "totals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deliveryOption",
              "displayName": "deliveryOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customerNotes",
              "displayName": "customerNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "originalFile",
              "displayName": "originalFile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "html",
              "displayName": "html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pickingSlipHTML",
              "displayName": "pickingSlipHTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "studentName",
              "displayName": "studentName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -64
      ],
      "id": "33a219c5-99e0-4824-830f-40cbf009ce42",
      "name": "Update1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CBU0H80s5UVbkRlf",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseKey": "=return [{   json: {     success: true,     message: 'Confirmation email sent'   } }];"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1344,
        -64
      ],
      "id": "3827f5fb-4dad-4246-979c-a2fa23d4860a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const quoteData = $('Get row(s) in sheet').first().json;\n\n// Parse JSON data\nlet components = [];\nlet totals = {};\ntry {\n  components = JSON.parse(quoteData.ComponentsJSON || '[]');\n  totals = JSON.parse(quoteData.TotalsJSON || '{}');\n} catch(e) {\n  components = [];\n  totals = {};\n}\n\n// Title case helper\nfunction toTitleCase(str) {\n  if (!str) return '';\n  return str.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase());\n}\n\n// Format date\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('en-AU', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\n// Build cutting list rows\nlet cuttingListRows = '';\ncomponents.forEach((comp, index) => {\n  const letter = String.fromCharCode(65 + index);\n  cuttingListRows += `\n    <tr>\n      <td style=\"border: 1px solid #333; padding: 8px; font-weight: bold; text-align: center;\">${letter}</td>\n      <td style=\"border: 1px solid #333; padding: 8px; font-weight: bold;\">${comp.species || ''}</td>\n      <td style=\"border: 1px solid #333; padding: 8px; text-align: center;\">${comp.thickness || 0}mm</td>\n      <td style=\"border: 1px solid #333; padding: 8px; text-align: center;\">${comp.stockWidth || comp.width || 0}mm</td>\n      <td style=\"border: 1px solid #333; padding: 8px; text-align: center;\">${comp.length || 0}mm</td>\n      <td style=\"border: 1px solid #333; padding: 8px; text-align: center; font-weight: bold;\">${comp.quantity || 0}</td>\n      <td style=\"border: 1px solid #333; padding: 8px; text-align: center; font-weight: bold; background: #e8f5e9;\">${comp.totalStockPieces || comp.quantity || 0}</td>\n    </tr>\n  `;\n});\n\n// Delivery info\nconst isDelivery = quoteData.DeliveryOption === 'delivery';\nconst collectionMethod = isDelivery ? '🚚 DELIVERY' : '📦 PICKUP';\nconst collectionColor = isDelivery ? '#fff3cd' : '#d4edda';\nconst collectionTextColor = isDelivery ? '#856404' : '#155724';\n\n// Original file link\nconst originalFileLink = quoteData.OriginalFile \n  ? `<a href=\"${quoteData.OriginalFile}\" style=\"color: #0066cc;\">View Original Cutting List</a>`\n  : 'Not available';\n\n// Build the Work Order Email HTML\nconst workOrderHTML = `\n<div style=\"font-family: Arial, sans-serif; max-width: 700px; margin: 0 auto;\">\n  \n  <div style=\"background: linear-gradient(135deg, #055902, #412e28); color: white; padding: 20px; text-align: center;\">\n    <h1 style=\"margin: 0;\">🔔 NEW ORDER RECEIVED</h1>\n    <p style=\"margin: 10px 0 0 0; font-size: 28px; font-weight: bold; letter-spacing: 2px;\">${quoteData.QuoteID}</p>\n    <p style=\"margin: 5px 0 0 0; opacity: 0.9;\">${dateStr}</p>\n  </div>\n  \n  <div style=\"padding: 20px; background: #f8f9fa;\">\n    \n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 20px;\">\n      <tr>\n        <td style=\"width: 50%; vertical-align: top; padding-right: 10px;\">\n          <div style=\"background: white; padding: 15px; border-radius: 8px; border-left: 4px solid #055902;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #055902;\">👤 Customer</h3>\n            <p style=\"margin: 5px 0;\"><strong>${toTitleCase(quoteData.StudentName)}</strong></p>\n            <p style=\"margin: 5px 0;\">📞 ${quoteData.StudentMobile || 'No phone'}</p>\n            <p style=\"margin: 5px 0;\">✉️ ${quoteData.StudentEmail}</p>\n          </div>\n        </td>\n        <td style=\"width: 50%; vertical-align: top; padding-left: 10px;\">\n          <div style=\"background: white; padding: 15px; border-radius: 8px; border-left: 4px solid #c5aa7f;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #412e28;\">🏫 School</h3>\n            <p style=\"margin: 5px 0;\"><strong>${toTitleCase(quoteData.School)}</strong></p>\n            <p style=\"margin: 5px 0;\">Teacher: ${toTitleCase(quoteData.Teacher)}</p>\n          </div>\n        </td>\n      </tr>\n    </table>\n    \n    <div style=\"background: ${collectionColor}; padding: 15px; border-radius: 8px; text-align: center; margin-bottom: 20px;\">\n      <span style=\"font-size: 24px; font-weight: bold; color: ${collectionTextColor};\">${collectionMethod}</span>\n      ${isDelivery ? '<p style=\"margin: 10px 0 0 0; color: #856404;\">⚠️ Arrange delivery with customer</p>' : '<p style=\"margin: 10px 0 0 0; color: #155724;\">Customer will collect from store</p>'}\n    </div>\n    \n    ${quoteData.Notes ? `\n    <div style=\"background: #e3f2fd; padding: 15px; border-radius: 8px; border-left: 4px solid #2196F3; margin-bottom: 20px;\">\n      <h3 style=\"margin: 0 0 10px 0; color: #1565c0;\">📝 Notes</h3>\n      <p style=\"margin: 0; white-space: pre-wrap;\">${quoteData.Notes}</p>\n    </div>\n    ` : ''}\n    \n    <div style=\"background: white; border-radius: 8px; overflow: hidden; margin-bottom: 20px;\">\n      <h3 style=\"margin: 0; padding: 15px; background: #055902; color: white;\">🪵 Cutting List</h3>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n        <tr style=\"background: #f0f0f0;\">\n          <th style=\"border: 1px solid #333; padding: 10px; text-align: center;\">#</th>\n          <th style=\"border: 1px solid #333; padding: 10px;\">Species</th>\n          <th style=\"border: 1px solid #333; padding: 10px; text-align: center;\">Thick</th>\n          <th style=\"border: 1px solid #333; padding: 10px; text-align: center;\">Width</th>\n          <th style=\"border: 1px solid #333; padding: 10px; text-align: center;\">Length</th>\n          <th style=\"border: 1px solid #333; padding: 10px; text-align: center;\">Qty</th>\n          <th style=\"border: 1px solid #333; padding: 10px; text-align: center; background: #c8e6c9;\">PIECES</th>\n        </tr>\n        ${cuttingListRows}\n      </table>\n    </div>\n    \n    <div style=\"background: #055902; color: white; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n        <tr>\n          <td style=\"padding: 5px 0;\"><strong>Subtotal:</strong></td>\n          <td style=\"text-align: right; padding: 5px 0;\">$${parseFloat(totals.subtotal || 0).toFixed(2)}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 5px 0;\"><strong>GST (10%):</strong></td>\n          <td style=\"text-align: right; padding: 5px 0;\">$${parseFloat(totals.gst || 0).toFixed(2)}</td>\n        </tr>\n        ${quoteData.DeliveryCost && parseFloat(quoteData.DeliveryCost) > 0 ? `\n        <tr>\n          <td style=\"padding: 5px 0;\"><strong>Delivery:</strong></td>\n          <td style=\"text-align: right; padding: 5px 0;\">$${parseFloat(quoteData.DeliveryCost).toFixed(2)}</td>\n        </tr>\n        ` : ''}\n        <tr style=\"border-top: 2px solid rgba(255,255,255,0.3);\">\n          <td style=\"padding: 15px 0 5px 0; font-size: 20px;\"><strong>TOTAL PAID:</strong></td>\n          <td style=\"text-align: right; padding: 15px 0 5px 0; font-size: 24px; font-weight: bold;\">$${parseFloat(totals.total || 0).toFixed(2)}</td>\n        </tr>\n      </table>\n    </div>\n    \n    <div style=\"background: #fff3cd; padding: 15px; border-radius: 8px;\">\n      <strong>📎 Original File:</strong> ${originalFileLink}\n    </div>\n    \n  </div>\n  \n  <div style=\"background: #333; color: white; padding: 15px; text-align: center; font-size: 12px;\">\n    This is an automated notification from the Trend Timbers Quote System\n  </div>\n  \n</div>\n`;\n\nreturn [{\n  json: {\n    html: workOrderHTML\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -224
      ],
      "id": "ffab7c6f-ebaa-4325-963c-793c72d96c95",
      "name": "Build Staff Work Order"
    },
    {
      "parameters": {
        "sendTo": "trendtimbers@gmail.com",
        "subject": "=🔔 NEW ORDER: {{ $('Get row(s) in sheet').item.json.QuoteID }} - {{ $('Get row(s) in sheet').item.json.StudentName }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1328,
        -224
      ],
      "id": "e4e9d0a6-e59d-41d8-8315-dc06baabbe96",
      "name": "Send a message",
      "webhookId": "94ce6df3-c960-4e6d-9772-a691e7dd5682",
      "credentials": {
        "gmailOAuth2": {
          "id": "fQVZRwl5DhgnmDR7",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "Update1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Staff Work Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Staff Work Order": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}